.debugger-controls {
  height: 40px;
  background: var(--editor-primary);
  border-top: 1px solid var(--text-primary);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.debugger-controls__button {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 var(--spacing-md);
  background: none;
  border: none;
  color: var(--text-primary);
}

.debugger-controls__button:hover {
  background: var(--editor-secondary);
}

.debugger-controls__button:disabled {
  cursor: not-allowed;
  color: var(--text-disabled);
}

.debugger-controls__button:hover:disabled {
  background: var(--editor-primary);
}

.debugger-controls__icon {
  padding-right: var(--spacing-sm);
  cursor: pointer;
}

.debugger-controls__error {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-error);
  padding: 0 var(--spacing-md);
}
